{% extends 'fpiezas/base.html' %}

{% block content %} 

<h1><small>Detalle de Proveedor</small></h1>
<div class="row">
    <div>
        <ul>
            <li class="list-group-item"><strong>Nombre:</strong>{{object.Nombre}} </li>
            <li class="list-group-item"><strong>Direccion:</strong>{{object.Direccion}} </li>
            <li class="list-group-item"><strong>Credito:</strong>{{object.Credito}} </li>
            
           
        </ul>
        
    </div>
</div>
<div>
    <div>
        
        <a href="{%url 'proveedor_edit' object.id %}"><button type="button" class="btn btn-outline-dark">Editar</button></a>
        <a href="{%url 'proveedor_list' %}"><button type="button" class="btn btn-outline-dark">Regresar</button></a>
    </div>
</div>
{% endblock %}