{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   
    
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/galeria.css' %}">

    {% if title %}
        <title>Sistema de Prestamos - {{ title }}</title>
    {% else %}
        <title>Sistema de Prestamos Blog</title>
    {% endif %}
</head>
<body>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Inicio</a>
    <a href="/config">Configuración</a>
  </div>
  <span style=" color: aliceblue; font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menú</span>

  


    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Opciones del Sistema</h3>
            <p class='text-muted'>Agencia de prestamos
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a href="{% url 'empleados_list' %}">Registro de empleados</a> </li>
                <li class="list-group-item list-group-item-light">Registro de Prestamos</li>
                <li class="list-group-item list-group-item-light">Registro de Departamentos</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <a class="btn btn-success" class="nav-item nav-link" href="/logout">Cerrar Sesion</a>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script>
       function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

    </script>
</body>
</html>
